.collapsible-list--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1.5em 0;
}

@media (min-width: 900px) {
    .collapsible-list--container {
        margin: 3em 0;
        padding: 0 8em;
    }
}
