.brigthnessFilter {
    position: relative;
    height: 300px;
    border-radius: 25px;
}

.home_hero_img {
    position: absolute;
    background-image: url('../assets/home_hero_img_d.png');
    background-size: 100%;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.transparent {
    position: relative;
    height: 300px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.3);
}

h1 {
    position: relative;
    top: 45%;
    left: 30%;
    width: 50%;
    color: white;
    font-size: 45px;
    font-weight: 500;
}
