.collapsible--container {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    width: 100%;
}

.collapsible--container h3 {
    position: relative;
    background-color: var(--primary-clr);
    max-width: 100%;
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.collapsible--container .content {
    background-color: var(--grey-clr);
    color: var(--primary-clr);
    padding: 0.5em 1em;
    font-weight: 400;
    width: 100%;
    margin: 0;
    padding: 2rem;
}

.arrow {
    position: absolute;
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 0.4rem;
}

.down {
    bottom: 25%;
    right: 1rem;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.up {
    bottom: 45%;
    right: 1rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

@media (min-width: 1091px) {
    .collapsible--container {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .arrow {
        border-width: 0 3px 3px 0;
        padding: 0.5rem;
    }

    .down {
        right: 2.5rem;
    }

    .up {
        right: 2.5rem;
    }
}
