.errorMsg {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    height: 100vh;
    align-items: center;
    color: var(--primary-clr);
}

.errorMsg img {
    margin: 10rem 0 5rem;

}

.errorMsg p {
    margin: 0 0 5rem;
    font-size: 2rem;
}

.errorMsg .home_link {
    margin: 0;
    font-size: 1rem;
    text-decoration: underline;
}
