header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
    color: var(--primary-clr);
    font-size: 1.5rem;
    gap: 5rem;
}