header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
    width: 300px;
    color: var(--primary-clr);
    font-size: 24px;
}