.housing-card {
    list-style-type: none;
    height: 20em;
    overflow: hidden;
    border-radius: 10px;
    background: linear-gradient(
        180deg,
        var(--primary-clr) 0%,
        rgba(0, 0, 0, 0.5) 100%
    );
    position: relative;
}

.housing-card::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        180deg,
        rgb(0, 0, 0, 0) 0%,
        rgb(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.5) 100%
    );
    z-index: 1;
}

.housing-card img {
    border-radius: 10px;
    max-width: 28em;
    height: 20em;
}

.housing__cover {
    object-fit: cover;
}

.housing-card h3 {
    position: relative;
    bottom: 3.2em;
    left: 1.5em;
    color: white;
    font-size: 1.2rem;
    margin: 0;
    width: 13em;
    font-weight: 500;
}

.housing__title {
    text-overflow: ellipsis;
    z-index: 2;
}

@media (min-width: 900px) {
    .housing-card {
        max-width: 28em;
        height: 28em;
        margin: 0;
        padding: 0;
    }

    .housing-card img {
        height: 28em;
    }

    .housing-card h3 {
        bottom: 3em;
    }
}
