/** CONTAINERS */

.housingCard--container {
    display: flex;
    flex-direction: column;
    color: var(--primary-clr);
}

.house-infos {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    margin: 0;
    padding: 0;
    row-gap: 1rem;
}

.house-quality {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em 0;
}

.house-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 5rem;
}

@media (min-width: 900px) {
    .housingCard--container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 1rem 0;
    }

    .house-infos {
        flex-direction: column;
    }

    .house-quality {
        flex-direction: column-reverse;
        margin: 0 0 2.7rem;
        row-gap: 1.5rem;
    }

    .house-details {
        width: 100%;
        flex-direction: row;
    }
}

/** TITLE & LOCALISATION */

.id h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 0 1rem;
    padding: 0;
}

.tags {
    display: flex;
    column-gap: 1rem;
    list-style-type: none;
    height: 30px;
    padding: 0;
    margin: 0;
}

.tags li {
    white-space: nowrap;
    text-overflow: '';
    background: var(--primary-clr);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 0.8rem;
}

@media (min-width: 900px) {
    .id h2 {
        font-size: 2rem;
    }

    .tags li {
        padding: 0.5rem 2rem;
    }
}

/** RATING & HOST ID */

.rating {
    height: 20px;
    width: 95%;
    padding: 0;
    margin: 0;
}

.rating img {
    margin-right: 0.5rem;
    height: 20px;
}

.host {
    display: flex;
    justify-content: space-between;
}

.host h3 {
    align-self: center;
    width: 50%;
    font-size: 1rem;
    font-weight: 500;
    text-align: right;
    margin: 0;
}

.host img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

@media (min-width: 900px) {
    .rating {
        height: 35px;
        width: fit-content;
    }

    .rating img {
        margin-right: 0.5rem;
        height: 35px;
    }

    .host h3 {
        align-self: center;
        width: 50%;
        font-size: 1rem;
        font-weight: 500;
        text-align: right;
        padding: 0;
    }

    .host img {
        width: 64px;
        height: 64px;
    }
}

/** DESCRIPTION & EQUIPMENTS */

.equipments {
    line-height: 2rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
