:root {
   --primary-clr: #FF6060;
   --grey-clr: #f6f6f6;
}

body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
}

.page--container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  font-family: "Montserrat";
  margin: 0;
}

.content--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 8rem;
}

code {
  font-family: "Montserrat";
}
