.slideshow--container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 20em;
    margin-bottom: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

.slide {
    width: 100%;
    height: 30em;
    position: absolute;
    opacity: 0;
}

.active-anim {
    opacity: 1;
}

.active-anim img {
    width: 100%;
    height: 20em;
    object-fit: cover;
}

.btn-slide {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-slide img {
    width: 40%;
}

.prev {
    top: 46%;
    left: 0;
}

.next {
    top: 46%;
    right: 0;
}

.img-index {
    display: none;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}

@media (min-width: 900px) {
    .slideshow--container {
        height: 30em;
    }

    .active-anim img {
        height: 30em;
    }

    .btn-slide img {
        width: 100%;
    }

    .prev {
        top: 40%;
        left: 2rem;
    }

    .next {
        top: 40%;
        right: 2rem;
    }

    .img-index {
        display: block;
    }
}
